.AccountInfo-div
{
    display: flex;
    flex-direction: column;;
    margin: 0 25vw;
    padding: 3rem;
    border-radius: 25px;
    box-shadow: 3px 3px 10px rgba(185, 185, 185), -3px 3px 10px rgba(185, 185, 185), 0 3px 10px rgba(185, 185, 185);
}

.AccountInfo-div .BackButton
{
    float: right;
    padding: 20px;
    border: none;
    background-color: #FFFF;
    font-size: 2rem;
    border-radius: 20px;
    border: solid transparent 0.2rem;
}

.BackButton:hover
{
    cursor: pointer;
    border: solid #000 0.2rem;
}

.BlueButton
{
    align-self: center;
    background-color: #57C0B8;
    border-radius: 20px;    
    padding: 0.75rem 4rem 0.75rem 4rem;
    border: solid transparent 0.2rem;
    font-weight: bolder;
    font-size: 1rem;

}

.BlueButton:hover
{
    border: solid black 0.2rem;
}

.button-div
{
    display: flex;
    justify-content: center;
}

