.AccountInfo-div
{
    display: block;
    margin: 0 25vw;
    padding: 3rem;
    border-radius: 25px;
    box-shadow: 3px 3px 10px rgba(185, 185, 185), -3px 3px 10px rgba(185, 185, 185), 0 3px 10px rgba(185, 185, 185);
}

.AccountInfo-div button
{
    float: right;
    padding: 25px;
    border: none;
    background-color: white;
    font-size: 2rem;
}

button:hover
{
    cursor: pointer;
}

