.accountInfo-div
{
    display: flex;
    justify-Content: flex-start; 
    flex-Flow: column; 
    align-Items: flex-start;
    margin: 0 25vw;
    padding: 1rem;
    box-shadow: 3px 3px 10px rgba(185, 185, 185), -3px 3px 10px rgba(185, 185, 185), 0 3px 10px rgba(185, 185, 185);
    border-radius: 25px;
}