.AccountInfo-div
{
    display: flex;
    flex-direction: column;;
    margin: 0 25vw;
    padding: 3rem;
    border-radius: 25px;
    box-shadow: 3px 3px 10px rgba(185, 185, 185), -3px 3px 10px rgba(185, 185, 185), 0 3px 10px rgba(185, 185, 185);
}

.AccountInfo-div .BackButton
{
    float: right;
    padding: 20px;
    border: none;
    background-color: #FFFF;
    font-size: 2rem;
    border-radius: 20px;
    border: solid transparent 0.2rem;
}

.BackButton:hover, .BlueButton:hover, .WhiteButton:hover
{
    cursor: pointer;
    border: solid #000 0.2rem;
}

.BlueButton, .WhiteButton
{
    align-self: center;
    background-color: #57C0B8;
    border-radius: 20px;    
    padding: 0.75rem 4rem 0.75rem 4rem;
    border: solid transparent 0.2rem;
    font-weight: bolder;
    font-size: 1rem;
}

.WhiteButton
{
    background-color: #FFFF;
    box-shadow: 3px 3px 10px rgba(185, 185, 185, 0.2), -3px 3px 10px rgba(185, 185, 185, 0.2), 0 3px 10px rgba(185, 185, 185, 0.2);
}

        
.button-div
{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
}

.AlterAccountdiv
{
    display: block;
    height: 30vh;
}

.input-label
{
    padding: 1rem 3rem 1rem 3rem;
    background-color: #FFFF;
    box-shadow: 3px 3px 10px rgba(185, 185, 185, 0.2), -3px 3px 10px rgba(185, 185, 185, 0.2), 0 3px 10px rgba(185, 185, 185, 0.2);
    border-radius: 20px;
    margin: 1rem 1rem 0 0;
}

.inputfield, textarea
{
    padding: 1rem 0.5rem 1rem 0.5rem;
    background-color: #FFFF;
    box-shadow: 3px 3px 10px rgba(185, 185, 185, 0.2), -3px 3px 10px rgba(185, 185, 185, 0.2), 0 3px 10px rgba(185, 185, 185, 0.2);
    border-radius: 20px;
    margin: 1rem 1rem 0 0;
    width: 60%;
}

label 
{ 
    display: inline-block;
    width: 50%;
    text-align: center;
}

textarea
{
    resize: none;
}

table
{
    width: 50vw;
}

tr
{
    margin: auto;
}

#delete-button
{
  color: #6c6c6c;
}
